/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*PC*/
.texti{
  position: relative;
  height: 100px;
  color: red;
  background-color: blue;
}
@media only screen and (min-width:415px) {
  .header{
    position: relative;
    height: 100px;
    background-color: blue;
  }
  .headerMsg{
    position: absolute;
    display: none;
    top:1%;
    left: 0%;
    z-index: 1;
    background-color: red;
  }
  .headerImg{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
  }
  .headerProd{
    position: absolute;
    top:0%;
    left:0%
  }
}

/*PHONE*/
@media only screen and (max-width:414px) {

}
